/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


@import '~antd/dist/antd.css';
@import '~rc-slider/assets/index.css';
.rc-slider-handle:active{
  box-shadow: none;
  border:0px;
}
.rc-slider-rail{
  background-color:rgb(116, 116, 116);
}
.rc-slider-handle{
  border: 1px;
}
.rc-slider-track{
 background-color: #0988ff;
}
.wrap::after{
  /* make sure the last image will not scale */
  content: '';
  flex-grow: 1000000000;
}
.ant-popover-content{
  box-shadow: 0px 0px 12px 6px rgba(22, 22, 22, 0.397);
}
.ant-message-notice-content{
  background-color: #333;
  color: white;
}
.ant-tag{
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height:22px;
}
.ant-input:focus {
  border: 1px solid;
  border-color: #0988ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0,0);
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0);
}
.ant-popover-inner-content{
  background-color: #3d3d3d;
}
.ant-popover-arrow{
  background-color: #3d3d3d;
}
.ant-popover-title{
  background-color: #252525;
  color: white;
  border-bottom: 1px solid #353535
}
.ant-input::selection {
  background:#fffffff8; 
  color:rgb(177, 177, 177);
}
.ant-input{
  height: 24px;
  background-color: #333;
  color: white;
  border: 2px;
  outline: none;
  font-size: 12px;
  line-height: 24px
}
.ant-input-search-icon{
  color: white;
}
.tree .ant-tree-node-content-wrapper {
  width: calc(100% - 16px);
}
.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: rgba(192, 192, 192, 0.2);
}
.ant-tree li .ant-tree-node-content-wrapper .file-drag-over{
  border: 1px solid blue;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
  background-color:rgba(207, 207, 207, 0.3);
  
}
.ant-tree li .ant-tree-node-content-wrapper{
  height: 28px;
  line-height: 28px;
  color: white;
  padding: 0 2px;
}

.ant-tree li span.ant-tree-switcher {
  color: white;
  /* height: 20px; */
  width: 12px;
}
.fixed-tree.ant-tree li span.ant-tree-switcher.ant-tree-switcher-noop{
  display: none;
}

::selection {
  background:#757575; 
  color:rgb(221, 221, 221);
}
div{
  cursor: default;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(155, 155, 155, 0.5);  
}

body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  background: #535353;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bottom_border {
  box-sizing: border-box;
  border-bottom: 2px solid #424242;
}

.right_border {
  box-sizing: border-box;
  border-right: 2px solid #424242;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
.Image{
  text-align: center;
}