/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


@import '~antd/dist/antd.css';
.ant-tag{
  margin-bottom: 8px
}

.tree .ant-tree-node-content-wrapper {
  width: calc(100% - 24px);
}
.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: rgba(192, 192, 192, 0.2);
}
.ant-tree li .ant-tree-node-content-wrapper .file-drag-over{
  border: 1px solid blue;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
  background-color:rgba(207, 207, 207, 0.3);
  
}
.ant-tree li .ant-tree-node-content-wrapper{
  height: 28px;
  line-height: 28px;
  color: white;
  padding: 0 2px;
}

.ant-tree li span.ant-tree-switcher {
  color: white;
  height: 20px;
  width: 20px;
}
.fixed-tree.ant-tree li span.ant-tree-switcher.ant-tree-switcher-noop{
  display: none;
}

::selection {
  background:#757575; 
  color:rgb(221, 221, 221);
}
div{
  cursor: default;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background-color: rgb(143, 143, 143); */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: rgb(155, 155, 155);  
}

body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  background: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  overflow: hidden;
}

.bottom_border {
  box-sizing: border-box;
  border-bottom: 2px solid #424242;
}

.right_border {
  box-sizing: border-box;
  border-right: 2px solid #424242;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}
.Image{
  text-align: center;
}